
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
        <div class="span12">
            <form id="custom-search-form" class="form-search form-horizontal own-css">
                <div class="input-append span6">
                    <input type="text" class="search-query" placeholder="Search">
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>
	</div>
</div>