
<!--The content below is only a placeholder and can be replaced.-->

<html>

<!--The content below is only a placeholder and can be replaced.-->


<div class="main-background">
  <app-header></app-header>
  <div class="main-body">
    <div class="main-description">
      <span>
        Your city, your forecast, right now!
      </span>
    </div>
    <div class="main-component-container" style="text-align: center">
      <app-search-box></app-search-box>
      <app-current-weather></app-current-weather>
    </div>
  </div>
  <div class="main-footer">
    <app-footer></app-footer>
  </div>
</div>
